/*body {
    background-image: url("../images/3.jpg");
    background-size:cover;
    background-position: center center;
}

.container1 {
    background-image: url("../images/1.jpg");
    background-size: 100%;
}*/

/*.container1 li {
    position: relative;
    left: 90px;
    margin-top: -50px;
    margin-left: 20px;
    font-size: 20px;
}

.navbar-brand {
    position: relative;
    top: 2px;
    left: 5px;
    font-size: 30px;
    color:rgba(218,112,214,0.85)!important
}

a.hoverable {
    color: #7B68EE !important;
    font-weight: 500;
}

a.hoverable:hover {
    color: #7B68EE !important;
    box-shadow: 0px -3px 19px 12px rgba(218,112,214,0.85) !important;
}

button.text-dark {
    
    color: black !important;
    margin-left: 590px;
    margin-top: 2px;
}



#login {
    color: black !important;
    margin-left: 770px;
    margin-top: 0px;
}

h1, h2 {
    color: #7B68EE;
}
.danger{
    color: red;
}

input[type="file"] {
    display: none;
}


.lbl {
    color: white;
    height: 80px;
    width: 150px;
    background-color: #7B68EE;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border-radius: 10%;
    font-style: oblique;
}

.upload{
    margin-top: 25px;
}*/


