body {
    background-image: url("../images/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container1 {
    background-image: url("../images/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}