@{
    ViewData["Title"] = " Upload Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@{
    Layout = "_Layout";
}


<form asp-controller="Clients" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" value="" />
    <hr />
    <button type="submit"> Upload </button>
</form>




